name: Release to NuGet

on:
  release:
    types: [published]

env:
  COREENDPOINTS_PROJECTNAME: "ModEndpoints.Core"
  ENDPOINTS_PROJECTNAME: "ModEndpoints"
  REMOTESERVICES_CONTRACTS_PROJECTNAME: "ModEndpoints.RemoteServices.Contracts"
  REMOTESERVICES_PROJECTNAME: "ModEndpoints.RemoteServices"

  ENDPOINTSTESTPROJECTNAME: "ModEndpoints.Tests"
  
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: | 
          8.0.x
          9.0.x
          10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build ${{ env.REMOTESERVICES_CONTRACTS_PROJECTNAME }} --configuration Release --no-restore
      working-directory: src
    - name: Build
      run: dotnet build ${{ env.REMOTESERVICES_PROJECTNAME }} --configuration Release --no-restore
      working-directory: src
    - name: Build
      run: dotnet build ${{ env.COREENDPOINTS_PROJECTNAME }} --configuration Release --no-restore
      working-directory: src
    - name: Build
      run: dotnet build ${{ env.ENDPOINTS_PROJECTNAME }} --configuration Release --no-restore
      working-directory: src

    - name: Test
      run: dotnet test ${{ env.ENDPOINTSTESTPROJECTNAME }} --no-restore --verbosity normal
      working-directory: tests

    - name: Package nuget remote services core
      run: dotnet pack ${{ env.REMOTESERVICES_CONTRACTS_PROJECTNAME }} --configuration Release --no-build -o:package
      working-directory: src
    - name: Package nuget remote services
      run: dotnet pack ${{ env.REMOTESERVICES_PROJECTNAME }} --configuration Release --no-build -o:package
      working-directory: src
    - name: Package nuget endpoints core
      run: dotnet pack ${{ env.COREENDPOINTS_PROJECTNAME }} --configuration Release --no-build -o:package
      working-directory: src
    - name: Package nuget endpoints
      run: dotnet pack ${{ env.ENDPOINTS_PROJECTNAME }} --configuration Release --no-build -o:package
      working-directory: src
    - name: Push to NuGet
      run: dotnet nuget push ./package/*.nupkg --api-key ${{secrets.nuget_api_key}} --source https://api.nuget.org/v3/index.json
      working-directory: src
